*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.box1 {
    margin:10px;
    padding: 10px;
    width: 500px;
    height: 700px;
    background-color: black;
    color: white;
    border-radius: 25px;
}
.box2 {
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 700px;
    background-color: black;
    color: white;
    border-radius: 25px;
}
.box3 {
    margin: 5px;
    padding: 10px;
    width: 400px;
    /* height: 700px; */
    background-color: black;
    color: white;
    border-radius: 25px;
   
}
.box4 {
    margin: 10px;
    padding: 10px;
    width: 1000px;
    align-self: stretch;
    
    background-color: black;
    color: white;
    border-radius: 25px;
}
.box5{
    width: 400px;
    background-color: black;
    border-radius: 20px;
}
/* RESPONSIVE DESIGN  */
@media screen and (max-width: 500px) {
        .box1 {
            width: 200%; /* Columns stack vertically on smaller screens */
            float: none;
        }
    }
@media screen and (max-width: 500px) {
        .box2 {
            width: 200%; /* Columns stack vertically on smaller screens */
            float: none;
        }
    }
       @media screen and (max-width: 500px) {
        .box3 {
            width: 200%; /* Columns stack vertically on smaller screens */
            float: none;
        }
    }
    @media screen and (max-width: 500px) {
        .box4 {
            width: 200%; /* Columns stack vertically on smaller screens */
            float: none;
        }
    } 