

*{
box-sizing: border-box;
margin: 0px;
padding: 0px; 
}
.flexbox{
    width: 2000px; 
    height: 50px;
    background-color: black;
    text-align: justify;
    text-wrap: WRAP;
    display: flex; 
    flex-direction: row;
    
    
    
}
.box1{
    background-color: black;
    width: 2000px;
    /* height: 100px; */
    align-self: stretch;
}
.box2{
    background-color: black;
    width: 2000px;
    /* height: 100px; */
    align-self: stretch;
  
    
}
.box3{
    background-color: black;
    width: 500px;
    /* height: 100px; */
    align-self: stretch;

    
    
 
}
.box6
{
    position: fixed;
    right: 12px;
    bottom: 10px;
    background-color: brown;
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 100%;
    border: 12px solid white;
    color: black;
    font-weight: bolD;
    text-align: center;
    font-family: cursive;
    font-size: medium;
}